<!-- post_page.html -->

<html>
	<head>
		<title> Social Justice Blog - Posts </title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='socialjusticestyle.css') }}">
	</head>

	<body>
		<!-- Site Banner -->
		<div class="container">
			<!-- Name of the Website -->
			<h1 id="sitename"> Social Justice Blog </h1>
			<p> Brining knowledge to the people, one voice at a time </p>
		</div>

		<!-- Post Entry Field -->
		<div>
			<form action="" method="post" name="newuser">
				Title: {{ form.title(size=30)}}
				<br> Author: {{ form.author(size=30)}}
				<br> Post: {{ form.content(size=30) }}
				<br><input type="submit" value="Be Heard!">
		</div>


	</body>


</html>